<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
            <img src="https://scontent.ftbs10-1.fna.fbcdn.net/v/t39.30808-6/298061686_3674367712789878_6190048138034344840_n.jpg?stp=cp6_dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=z3ggd8OnuhUAX_IJlwd&_nc_ht=scontent.ftbs10-1.fna&oh=00_AfCdoUfsGmYOUDWDT83kysp9em-NGtbF9pX4JDB7Aif9aA&oe=6556DCFA" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="https://scontent.ftbs10-1.fna.fbcdn.net/v/t39.30808-6/361203522_3974053072821339_2712664260841874473_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=eaR26n9IV_MAX9RvQkE&_nc_ht=scontent.ftbs10-1.fna&oh=00_AfDRpkwHRgt3M25R7pXCgorXJC5g4qVPGawTrDDe5WzRUg&oe=6556C0DD" class="d-block w-100" alt="...">
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
