

<form class="d-flex">



        <a class="btn btn-outline-success" asp-area="" asp-controller="Account" asp-action="Register">რეგისტრაცია</a>

        <a class="btn btn-outline-success" asp-area="" asp-controller="Account" asp-action="Login">ავტორიზაცია</a>
    }


</form>
