<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<h1>პარტია "საქართველოსთვის" პარლამენტის წევრები</h1>
<div class="cards">
    <div class="card">
        <h2 class="card-title">ანა ბუჩუკური</h2>
        <img src="https://metronome.ge/wp-content/uploads/2021/05/unnamed-8.jpg" alt="">
        <p class="card-desc">ანა ბუჩუკური (დ. 5 აპრილი, 1990[1]) — ქართველი პოლიტიკოსი. მუშაობდა საქართველოს მთავრობის ადმინისტრაციაში,
            ადამიანის უფლებათა სამდივნოს (სამსახური) უფროსის თანამდებობაზე. საქართველოს მე-10 მოწვევის პარლამენტის წევრი 2020 წლიდან.
            დაამთავრა თბილისის სახელმწიფო უნივერსიტეტის იურიდიული ფაკულტეტი, სამართალმცოდნეობის სპეციალობით. 2009-2010 წლებში იყო სახალხო დამცველის აპარატის პრაქტიკანტი. 2011 წელს იყო სსპ-განათლების ხარისხის განვითარების ეროვნული ცენტრის აკრედიტაციის ექსპერტი. 2011-2012 წლებში იყო სახალხო დამცველის აპარატის მართლმსაჯულების დეპარტამენტის მთავარი სპეციალისტი. 2012-2014 წლებში იყო იუსტიციის სამინისტროს ადმინისტრაციის მრჩეველი. 2014-2015 წლებში იყო სახალხო დამცველის აპარატის ანალიტიკური დეპარტამენტის მთავარი სპეციალისტი. 2014 წლიდან არის „ნიუ-ვიჟენ“ უნივერსიტეტის პროფესორის ასისტენტი. 2015-2017 წლებში იყო სსიპ-განათლების ხარისხის განვითარების ეროვნული ცენტრის სამართალ შემოქმედების სამმართველოს უფროსი. 2017 წელს იყო ეკონომიური და მდგრადი განვითარების სამინისტროს პარლამენტთან ურთიერთობის სამმართველოს უფროსი. 2017-2018 წლებში იყო შსს-ს იურიდიული დეპარტამენტის დირექტორის მოადგილე. 2018-2019 წლებში იყო შსს-ს ადმინისტრაციის უფროსის მოადგილე. 2020 წელს იყო საქართველოს მთავრობის ადმინისტრაციის ადამიანის უფლებათა სამდივნოს უფროსი. 2020 წელს იყო პრემიერ-მინისტრის აპარატის უფროსის მოადგილე. 2020 წლიდან არის საქართველოს მე-10 მოწვევის პარლამენტის წევრი პარტიული სიით, საარჩევნო ბლოკი: „ქართული ოცნება — დემოკრატიული საქართველო“.[2] არის საქართველოს პარლამენტის ადამიანის უფლებათა დაცვისა და სამოქალაქო ინტეგრაციის კომიტეტის წევრი.
        </p>
    </div>
    <div class="card">
        <h2 class="card-title">მიხეილ დაუშვილი</h2>
        <img src="https://api.tabula.ge/files/styles/news_thumb_md/public/photos/2022/06/10dbce146b2867151bf34dfd0794b7d2.png.jpg?itok=SpscUyKU" alt="">
      <p class="card-desc"> მიხეილ დაუშვილი (დ. 14 დეკემბერი, 1990, თბილისი[1]) — ქართველი პოლიტიკოსი. საქართველოს მეათე მოწვევის პარლამენტის წევრი. იკავებდა საქართველოს ბიზნესომბუდსმენის თანამდებობას (2019-2020).</p>
  </div>
      <div class="card">
        <h2 class="card-title">ბექა ლილუაშვილი</h2>
        <img src="https://netgazeti.ge/wp-content/uploads/2022/04/%E1%83%91%E1%83%94%E1%83%A5%E1%83%90-%E1%83%9A%E1%83%98%E1%83%9A%E1%83%A3%E1%83%90%E1%83%A8%E1%83%95%E1%83%98%E1%83%9A%E1%83%98.jpg" alt="">
        <p class="card-desc">
            ბექა ლილუაშვილი (დ. 20 სექტემბერი, 1991, ქუთაისი[1]) — ქართველი ეკონომისტი, პოლიტიკოსი. საქართველოს X მოწვევის პარლამენტის წევრი. პოლიციის უმცროსი ლეიტენანტი.

            დაამთავრა ივანე ჯავახიშვილის სახელობის თბილისის სახელმწიფო უნივერსიტეტი.

            2013–2014 წლებში იყო სს „პროკრედიტ ბანკის“ მცირე ბიზნესის კლიენტთა მრჩეველი. 2014 წელს სს „ბანკი კონსტანტას“ ბიზნესის დაკრედიტების ექსპერტი. 2014–2016 წლებში მუშაობდა საქართველოს მთავრობის ადმინისტრაციაში — ეკონომიკური საბჭოს აპარატის ეკონომიკური განვითარების სამსახურის მრჩევლად (II კატეგორია); 2016 წელს — ეკონომიკური საბჭოს აპარატის ეკონომიკური განვითარების სამსახურის მრჩევლად (I კატეგორია). 2017 წელს იყო საქართველოს ეკონომიკისა და მდგრადი განვითარების სამინისტროს ეკონომიკური ზრდის ანალიზის დეპარტამენტის კონსულტანტი (I კატეგორია). 2017 წელს საქართველოს ეკონომიკისა და მდგრადი განვითარების სამინისტროს ეკონომიკური ანალიზისა და რეფორმების დეპარტამენტის ეკონომიკური რეფორმების სამმართველოს უფროსი. 2017–2018 წლებში მუშაობდა საქართველოს შინაგან საქმეთა სამინისტროს კვლევისა და განვითარების დეპარტამენტში. 2018–2019 წლებში იყო საქართველოს შინაგან საქმეთა სამინისტროს საინფორმაციო-ანალიტიკური დეპარტამენტის კვლევისა და რეფორმების სამმართველოს უფროსი. 2019 წელს ამავე დეპარტამენტის დირექტორის მოადგილე. 2019–2020 წლებში საქართველოს პრემიერ-მინისტრის მრჩეველი ეკონომიკურ საკითხებში.

            2020 წლიდან არის საქართველოს მე-10 მოწვევის პარლამენტის წევრი პარტიული სიით, საარჩევნო ბლოკი: „ქართული ოცნება — დემოკრატიული საქართველო“.[2]
        </p>
    </div>
    <div class="card">
        <h2 class="card-title">ალექსანდრე მოწერელია</h2>
        <img src="https://th.bing.com/th/id/OIP.96lMY0KCo6C8wT7A0fO-UQHaEK?rs=1&pid=ImgDetMain" alt="">
        <p class="card-desc">
            დაიბადა 1972 წლის 16 ნოემბერს. დაამთავრა საქართველოს ტექნიკური უნივერსიტეტის საინჟინრო ფიზიკის ფაკულტეტი. 1994-1995 წლებში მუშაობდა ფოთის საზღვაო ნავსადგურის კომერციული განყოფილების ინჟინრად. იყო საქართველოს საბაჟო დეპარტამენტის ფოთის საბაჟოს ინსპექტორი, უფროსი ინსპექტორი. 1998-2002 წლებში იყო შპს „მაგთიკომის“ რეგიონალური წარმომადგენელი სამეგრელოში. 2003-2004 წლებში მუშაობდა საქართველოს სახელმწიფო უშიშროების სამსახურის ოპერატიული აღრიცხვის სამმართველოს ქვეგანყოფილების უფროსად. 2005-2007 წლებში იყო შპს „Fima-Georgia-ს“ მმართველი პარტნიორი და შპს „Cap Georgia-ს“ დირექტორი და პარტნიორი. 2013-2018 წლებში იყო „საქართველოს თხილის გადამამუშავებელთა და ექსპორტიორთა ასოციაციის“ გამგეობის თავმჯდომარე. 2018 წლის აგვისტოდან 2020 წლის აგვისტომდე იყო სამეგრელო-ზემო სვანეთის გუბერნატორი. ფლობს ქართულ, ინგლისურ და რუსულ ენებს.

            2020 წლიდან არის საქართველოს მე-10 მოწვევის პარლამენტის წევრი (აბაშა-მარტვილი-წალენჯიხა-ჩხოროწყუს მაჟორიტარი), საარჩევნო ბლოკი: „ქართული ოცნება — დემოკრატიული საქართველო“.[1]
        </p>
    </div>
    <div class="card">
        <h2 class="card-title">შალვა კერესელიძე</h2>
        <img src="https://th.bing.com/th/id/R.d49da3b5133332e94fa72db0f46d55ff?rik=nq5I1DpaYVkMag&pid=ImgRaw&r=0" alt="">
        <p class="card-desc">
            შალვა კერესელიძე (დ. 15 სექტემბერი, 1975, ქ. დუშეთი) — ქართველი ეკონომისტი და პოლიტიკოსი.
            1996-2000 წლებში მუშაობდა თბილისის საბურთალოს და დიდუბე-ჩუღურეთის რაიონის გამგეობებში სხვადასხვა პოზიციაზე. 2001–2003 წლებში იყო საქართველოს პრეზიდენტის სახელმწიფო რწმუნებულის მრჩეველი მცხეთა-მთიანეთის მხარეში. 2004-2005 წლებში მუშაობდა ეროვნული თანხმობის საკითხებში საქართველოს სახელმწიფო მინისტრის აპარატში საქართველოდან ემიგრირებულ მოქალაქეთა ინტერესების დაცვისა და საინფორმაციო-ანალიტიკურ საკითხთა უზრუნველყოფის განყოფილების წამყვან სპეციალისტად. 2009-2014 წლებში იკავებდა სხვადასხვა პოზიციას რეგიონული განვითარებისა და ინფრასტრუქტურის სამინისტროში, საქართველოს სოფლის მეურნეობის სამინისტროში. 2015-2018 წლებში იყო საქართველოს გარემოს დაცვისა და სოფლის მეურნეობის სამინისტროს რეგიონებთან ურთიერთობის დეპარტამენტის პირველადი სტრუქტურული ერთეულის ხელმძღვანელი, საქართველოს სოფლის მეურნეობის სამინისტროს რეგიონებთან კოორდინაციის დეპარტამენტის უფროსი. ფლობს ქართულ, ინგლისურ და რუსულ ენებს.

            2018 წლის აგვისტოდან 2020 წლის აგვისტომდე იყო მცხეთა-მთიანეთის მხარის გუბერნატორი.

            2020 წლიდან არის საქართველოს მე-10 მოწვევის პარლამენტის წევრი (მცხეთა-დუშეთი-თიანეთი-ყაზბეგის მაჟორიტარი), საარჩევნო ბლოკი: „ქართული ოცნება — დემოკრატიული საქართველო“.[1]
        </p>
    </div>
</div>

        <style>

            * {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #34495e;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px black;
}

.card-title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #6184a8;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.card img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative;
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}

.card:hover .card-desc {
  opacity: 1;
  height: 100%;
}

h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 40px 0 20px 0;
  text-align: center;
}
.Gx{
    display:none !important;
        background-color: #34495e !important;
    }
    a{
        color:white !important;
    }
        </style>