@{
	Layout = null;
}
<link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />


<div class="section full-height over-hide z-bigger">
	<div class="hero-center-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-5 col-md-5 col-xl-4 align-self-center">
					<div class="img-wrap">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/1.jpg" alt="">
					</div>
				</div>
				<div class="col-12 col-sm-7 col-md-7 col-lg-5 col-xl-4 pl-4 align-self-center mt-4 mt-sm-0 text-center text-sm-left">
					<h3 class="mb-1">Supernatural</h3>
					<p class="small mb-2 opacity-60">44min | Drama, Fantasy, Horror</p>
					<p class="mb-0">
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow opacity-40"><i class='uil uil-star'></i></span>
						<span class="ml-1 ml-sm-3 size-18 color-yellow">8.5/10</span>
					</p>
					<p class="mt-4 pt-2 mb-0 d-none d-sm-block">Two brothers follow their father's footsteps as hunters, fighting evil supernatural beings of many kinds, including monsters, demons, and gods that roam the earth.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-center-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-5 col-md-5 col-xl-4 align-self-center">
					<div class="img-wrap">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/2.jpg" alt="">
					</div>
				</div>
				<div class="col-12 col-sm-7 col-md-7 col-lg-5 col-xl-4 pl-4 align-self-center mt-4 mt-sm-0 text-center text-sm-left">
					<h3 class="mb-1">Arrow</h3>
					<p class="small mb-2 opacity-60">42min | Action, Adventure, Crime</p>
					<p class="mb-0">
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow opacity-40"><i class='uil uil-star'></i></span>
						<span class="color-yellow opacity-40"><i class='uil uil-star'></i></span>
						<span class="ml-1 ml-sm-3 size-18 color-yellow">7.7/10</span>
					</p>
					<p class="mt-4 pt-2 mb-0 d-none d-sm-block">Spoiled billionaire playboy Oliver Queen is missing and presumed dead when his yacht is lost at sea. He returns five years later a changed man, determined to...</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-center-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-5 col-md-5 col-xl-4 align-self-center">
					<div class="img-wrap">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/3.jpg" alt="">
					</div>
				</div>
				<div class="col-12 col-sm-7 col-md-7 col-lg-5 col-xl-4 pl-4 align-self-center mt-4 mt-sm-0 text-center text-sm-left">
					<h3 class="mb-1">Gotham</h3>
					<p class="small mb-2 opacity-60">42min | Action, Crime, Drama</p>
					<p class="mb-0">
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow opacity-40"><i class='uil uil-star'></i></span>
						<span class="color-yellow opacity-40"><i class='uil uil-star'></i></span>
						<span class="ml-1 ml-sm-3 size-18 color-yellow">7.9/10</span>
					</p>
					<p class="mt-4 pt-2 mb-0 d-none d-sm-block">The story behind Detective James Gordon's rise to prominence in Gotham City in the years before Batman's arrival.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-center-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-5 col-md-5 col-xl-4 align-self-center">
					<div class="img-wrap">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/4.jpg" alt="">
					</div>
				</div>
				<div class="col-12 col-sm-7 col-md-7 col-lg-5 col-xl-4 pl-4 align-self-center mt-4 mt-sm-0 text-center text-sm-left">
					<h3 class="mb-1">The Flash</h3>
					<p class="small mb-2 opacity-60">43min | Action, Adventure, Drama</p>
					<p class="mb-0">
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow"><i class='uil uil-star'></i></span>
						<span class="color-yellow opacity-40"><i class='uil uil-star'></i></span>
						<span class="color-yellow opacity-40"><i class='uil uil-star'></i></span>
						<span class="ml-1 ml-sm-3 size-18 color-yellow">7.9/10</span>
					</p>
					<p class="mt-4 pt-2 mb-0 d-none d-sm-block">After being struck by lightning, Barry Allen wakes up from his coma to discover he's been given the power of super speed, becoming the Flash, fighting crime in Central City.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-left-section">
		<ul class="slide-buttons">
			<li class="hover-target">
			</li>
			<li class="hover-target">
			</li>
			<li class="hover-target">
			</li>
			<li class="hover-target">
			</li>
		</ul>
	</div>
</div>

<!-- Page cursor
================================================== -->

<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>

<!-- Link to page
================================================== -->

<a href="https://front.codes" class="link-to-page hover-target" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/logo-new.png" alt=""></a>

<div class="bottom-right">
	<div class="switch">
		<div class="circle hover-target"></div>
	</div>
</div>

<script src="~/js/slider.js" asp-append-version="true"></script>